
.techstack-section{
    margin-top: 40px;
    height: auto;
    margin-bottom: 80px;
}

.section-title{
    margin-bottom: 60px;
    margin-top: 40px;
}
.section-title h5{
    text-align: center;   
    
}

.tech-content{    
    color: black;   
    padding: 20px;  
      
}

.tech-cells{
    box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
    -webkit-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
    -moz-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86); 
    cursor: pointer;
    text-align: center;
    align-items: center;
    margin-top: 45px;
    
}
.tech-cells:hover{
    background-color: #ff854c;
    transition-duration: 2s;
    
}
.tech-content :hover{
    
    cursor: pointer;
    transition-duration: 1s;
}

.tech-content p{
   text-align: center;   
   font-size: 20px;   
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
   
}

.tech-content-number{
   height: 50px;
   width: 50px;   
   border-radius: 50%;
   display: block;
   align-items: center;
   margin: 11px auto;
   line-height: 50px;
   margin-top: -38px;
}


.load-more-tech-stack-button{
    background-color: purple;
    width: 150px;
    padding: 10px;
    color: white;
    text-align: center;
    justify-content: center;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    border-radius: 50px;
    box-shadow: 0 9px #999;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.load-more-tech-stack-button:hover{
    cursor: pointer;
}

.load-more-tech-stack-button:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.learning-mode{
    display: flex;    
    max-width: 100%;
    align-items: right;
}

.learning-mode svg{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.learning-mode svg:hover{
    transform: scale(1.5); 
    
}

.learning-mode svg:active{
    transform: scale(0.7); 
    transition-duration: 0.2s;
}

.self-rating{
    display: flex;
   justify-content: space-between;
   justify-content: right;
    
}

#show-no-show{
    animation: fadeInRight ease 2s;
    -webkit-animation: fadeInRight ease 2s;
    -moz-animation: fadeInRight ease 2s;
    -o-animation: fadeInRight ease 2s;
    -ms-animation: fadeInRight ease 2s;
}

#techstack{

    margin-left: 16%;
}